{{#each groups}}
<h1></h1>
{{#each files}}
<div>
    <h2></h2>
    <div>
        <div class="box icon-file-pdf"></div>
        <div class="box icon-file-word"></div>
        <div class="box icon-file-openoffice"></div>
    </div>
</div>
{{/each}}
{{/each}}