$c-blue: #06b;
$c-blue-deep: #042ef1;
$c-purple-deep: #5103f1;
$c-white: #f4f6fe;

$border-space: 20vw;
$header-height: 3em;
$header-font-size: x-large;
$footer-height: 2em;

@media only screen and (min-width: 768px) {
    .mobile {
        display: none !important;
    }
}
@media only screen and (max-width: 767px) {
    .desktop {
        display: none !important;
    }
}

body {
    background-color: $c-white;
    font-family: "Droid Serif", serif;
    
    div {
        min-height: 100%;
    }
}

header {
    background-color: $c-blue;
    color: $c-white;
    font-family: "Droid Sans", sans-serif;
    font-size: $header-font-size;
    height: $header-height;
    line-height: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
    div,
    figure,
    ul {
        height: 100%;
    }
    
    figure {
        display: inline-block;
        
        img {
            $height: 2.5em;
            
            display: inline-block;
            height: $height;
            margin-top: ($header-height - $height) / 2;
        }
        
        figcaption {
            bottom: 1em;
            display: inline-block;
            font-size: medium;
            left: 1em;
            position: relative;
        }
    }
    
    ul {
        display: inline-block;
        
        .mobile {
            display: flex;
            
            li {
                flex: auto;
            }
        }
        
        li {
            $border-width: 2px;

            box-sizing: border-box;
            display: inline-block;
            height: $header-height;
            line-height: $header-height;
            text-align: center;

            &:hover,
            &:focus,
            &:active {
                box-shadow: inset 0 2px 0 $c-white;
            }

            a {
                color: inherit;
                font-size: large;
                text-decoration: none;
                vertical-align: middle;
            }
        }
    }
}

main {
    overflow: auto;
    padding-bottom: $footer-height;
    
    &::before {
        content: '';
        display: block;
        font-size: $header-font-size;
        margin-top: $header-height;
    }
    
    > div {
        padding-bottom: 2em;
        
        &:nth-child(even) {
            background-color: $c-blue;
            color: $c-white;
        }
        
        section {
            line-height: 140%;

            h1,
            h2,
            h3 {
                line-height: 2em;
            }

            h1 {
                font-size: xx-large;
            }

            h2 {
                font-size: x-large;
            }

            h3 {
                font-size: large;
            }
        }
    }
}

// STICKY FOOTER

html,
body {
    height: 100%;
}

footer {
    background-color: $c-blue;
    border-top: solid 2px $c-blue-deep;
    height: $footer-height;
    margin-top: - $footer-height;
    position: relative;
    
    div {
        line-height: $footer-height;
    }
} 

// Opera Fix
body::before {
    content: '';
    float: left;
    height: 100%;
    margin-top: -32767px;
    width: 0;
}
